@model Product

<form method="post">
    <div class="card mt-4 mb-4 border-0 shadow">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Title</h3>
                    <p class="text-white-50 fw-semibold mb-0">by @Model.Author</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-info bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 mb-3 text-center">
                        <img src="@Model.ImageUrl" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="col-12 col-md-6 pb-4">
                            <span class="badge">@Model.Category.Name</span>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50">ISBN : @Model.ISBN</h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark pb-2 text-opacity-50">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @Model.ListPrice.ToString("c")
                                </span>
                            </h6>
                        </div>
                        <div class="row ps-2 text-center">
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark fw-semibold text-opacity-50">Quantity</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark fw-semibold text-opacity-50">1-50</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark fw-semibold text-opacity-50">51-100</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                                <div class="text-dark fw-semibold text-opacity-50">100+</div>
                            </div>
                        </div>
                        <div class="row ps-2 text-center">
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Price.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Price10.ToString("c")</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.Price20.ToString("c")</div>
                            </div>
                        </div>
                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">@Html.Raw(Model.Description)</p>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-info text-white fw-semibold border-0"
                                          id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                    <input name="Count" type="number" value="1" min="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>
                            </div>
                        </div>

                        <input asp-for="@Model.Id" hidden />

                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit" asp-controller="Cart" asp-action="AddCart"
                                        class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>